#main {
	clear: both;
}
#gameContainer {
	position: relative;
	cursor: crosshair;
	border-style:solid;
}

.board-piece {
	display: inline-block;
	vertical-align: top;
}

button#giveUp {
	background-color:red;
}

.opponentName {
	font-weight:800;
}

div.collision,
div.pathFinderWait {

	background-color: red;
	font-color:black;
	z-index:1000;
	text-align: center;
	vertical-align: middle;
	height: 100%;
	width:100%;
	position: absolute;
	top: 0;
}

div.collision {
	overflow: hidden;
	z-index:500;
}

div.leftBlock, div.topBlock, div.rightBlock, div.bottomBlock {
	z-index: 750;
	background-color:black;
	position: absolute;
}

div.leftBlock, div.rightBlock {
	height: 100%;
	top: 0;
}

div.bottomBlock, div.topBlock {
	width: 100%;
	left: 0;
}

div.leftBlock {
	left:0;
}
div.rightBlock {
	right:0;
}
div.topBlock{
	top: 0;
}
div.bottomBlock{
	bottom: 0;
}